{% extends "base.html" %}
{% block title %}Impressum{% endblock %}
{% block content %}
<h1 class="text-3xl font-bold mb-4">Impressum</h1>

<p>Angaben gemäß § 5 TMG:</p>

<p class="mt-2">
Christian Achim Carl<br>
Sandberg 27<br>
26123 Oldenburg<br>
Deutschland
</p>

<p class="mt-4">
Kontakt: <br>
E-Mail: <a href="mailto:support@doneo24.de" class="text-blue-600 underline">support@doneo24.de</a>
</p>

<p class="mt-4">
Umsatzsteuer-Identifikationsnummer gemäß § 27 a UStG: **nicht umsatzsteuerpflichtig**
</p>

<p class="mt-6 text-sm text-gray-600">Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV: Christian Achim Carl</p>
<p class="text-sm text-gray-600">Letzte Aktualisierung: Mai 2025</p>
{% endblock %}
